
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=b220bab0aab8544b0fe66e0d44bd8da8
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress